::-webkit-scrollbar {
	width: 0;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--navbar-menu-color:  hsl(0, 0%, 15%);
	--navbar-bg-color: hsl(0, 0%, 10%);
	--navbar-text-color: hsl(0, 0%, 100%);
	--navbar-text-color-focus: white;
	--navbar-bg-contrast: hsl(0, 0%, 25%);
  
}
html {
    height: 100%;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/023/094/088/4k/tobias-hofmann-forest-night.jpg?1578063534);
    scroll-behavior: smooth;
}
body {
    font-family: raleway_f, sans-serif;
    height: 100%;
    
   
}

@font-face {
	font-family: raleway_f;
	src: url(fonts/raleway-regular.woff2);
}

@font-face {
	font-family: raleway_f;
	src: url(fonts/raleway-black.woff2);
	font-weight: 900;
}





.wrapper{
min-height: 100%;
display: flex;
flex-direction: column;


}

.main {
  flex: 1 1 auto;
  min-height: 100vh;
  z-index: 100
  
}

.header {
 width: 100%;
position: absolute;
	margin-top: 10%;


}

.header h1 {
  color: #fff;
  font-size: 52px;

margin-left: 30%;
  
}

.innerheaderfirst {
  width: 50%;
  position: absolute;
  margin-top: 20vh;
  margin-left: 30%;
}

.innerheadersecond {
  width: 50%;
  position: absolute;
  margin-top: 20vh;
  margin-left: 60%;
}

.innerheaderfirst h1, .innerheadersecond h1 {
  color: #fff;
font-size: 48px;
}

.hero-button {
	position: absolute;
	
	background: rgba(255,255,255,0.8);
	color: #44575b;
	font-size: 18px;
	float: left;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 30px;
padding: 20px 50px;
	text-decoration: none;
  }
  











      
     .footerBottom{
       background-color: transparent;
       padding: 20px;
       text-align: center;
     }
     .footerBottom p{
     color: #696969;
       font-size: 1.5em;
     }
    
     .designer{
       opacity: 0.7;
       text-transform: uppercase;
       letter-spacing: 1px;
       font-weight: 400;
       margin: 0px 5px;
     }
     @media (max-width: 700px){
      
     
      @media only screen and (max-width: 1100px) {
        .videos {
          flex-direction: column;
        }
      }
    

    
    
